.app-wrapper {
display: grid;
grid-template-areas: 
    "header header"
    "nav content";
grid-template-rows: 60px 1fr;
grid-template-columns: 2fr 10fr;
grid-gap: 10px;
}
.header {
    grid-area: header;
    background-color: #FFB6C1;
    width: 100%;
}
.logo {
    margin: 10px;
    width: 60px;
}
.nav {
    grid-area: nav;
    background-color: #FFB6C1;
}
a {
    text-decoration: none;
    color: #2F4F4F;
}
.content {
    grid-area: content;
    background-color: #FFDAB9;
    display: grid;
}
.img1 {
   height: 300px;
}
.icon {
    margin: 10px;
width: 150px;
border-radius: 90px;
}