.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;


}
.dialogsItems{

}
.dialogsItems .active{
background-color: #fccadf;

}

.dialog {
    padding-bottom: 20px;
    color: #2F4F4F !important;
    text-decoration: none !important;
}

.messages {

}

.message {
    padding-bottom: 10px;
    padding-left: 10px;
}